body {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  font-style: normal;
  font-weight: 400;
  min-height: 100% !important;
  width: 100% !important;
}
html {
  min-height: 100% !important;
}
.color-circle {
  cursor: pointer;
  background-color: tan;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: red; 
}
.hidden { display: none; }
.input-custom {
  padding: 0px !important;
  width: 50px !important;
  border: 0px !important;
  background-color: #fff !important;
  font-weight: bold !important;
}
.cursor {
  cursor: pointer !important;
}
.dark-text {
  color: #303e49 !important;
}
.message-content h5, .message-content p {
  color: #303e49;
}
.message-content {
  border: 1px solid #ebebeb !important;
}
.bg-warning-custom {
  background-color: #FF8800 !important;
}
.underly-shadow {
  -webkit-box-shadow: 0 8px 6px -6px black !important;
  -moz-box-shadow: 0 8px 6px -6px black !important;
  box-shadow: 0 8px 6px -6px black !important;
}
#account-details > .list-group-item {
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50px;
}
.no-padding {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.card-body-flush {
  padding: 0px !important;
}
.custom-control-description {
  font-size: 1.05rem !important;
}
td {
  vertical-align: middle !important;
  color: #000;
}
.custom-control-input:checked ~ .custom-control-indicator {
  color: #fff !important;
  background-color: #0275d8 !important;
}
.disabler {
  opacity: 0.5;
}
.navbar-brand {
  margin-top: 0.50em !important;
}
.page-content {
  margin-bottom: 25px !important;
}
.nav-link {
  padding: 1em 1em !important;
}
.navbar {
  margin-bottom: 25px !important;
}
.card-margin {
  padding-top: 1.25rem;
}
.white-text {
  color: #fff !important;
}
small {
  font-size: 50% !important;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#footer {
  padding: 0.75rem 1.25rem !important;
}
.btn-outline {
  background-color: #fff !important;
}
#login-form-link.active > h3, #register-form-link.active > h3 {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
  font-size: 20px !important;
  color: #ffff00 !important;
  border-bottom: 2px groove #fff;
  font-weight: bold !important;
}
#login-form-link > h3, #register-form-link > h3 {
  color: #fff;
  font-size: 16px !important;
  padding-top: 10px;
  padding-bottom: 10px;
}
#register-form, #login-form {
  display: none !important;
}
#register-form.active, #login-form.active {
  display: block !important;
}
.btn-rounded {
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  -ms-border-radius: 10em;
  -o-border-radius: 10em;
  border-radius: 10em !important;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
.cssanimations .cd-timeline-img.is-hidden {
  visibility: hidden;
}
.cssanimations .cd-timeline-img.bounce-in {
  visibility: visible;
  animation: cd-bounce-1 0.6s;
}

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
.primary-text {
  color: #4285F4 !important;
}
.divider-new {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 300;
  margin-top: 45px;
  margin-bottom: 45px;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
