body {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
    font-style: normal;
    font-weight: 400;
    min-height: 100% !important;
    width: 100% !important;
}
html {
  min-height: 100% !important;
}
.no-padding {
  padding-right: 0 !important;
padding-left: 0 !important;
}
.card-body-flush {
  padding: 0px !important;
}
.custom-control-description {
  font-size: 1.05rem !important;
}
td {
  vertical-align: middle !important;
  color: #000;
}
.custom-control-input:checked ~ .custom-control-indicator {
  color: #fff !important;
  background-color: #0275d8 !important;
}
.disabler {
    opacity: 0.5;
}
.navbar-brand {
  margin-top: 0.50em !important;
}
.page-content {
  margin-bottom: 25px !important;
}
.nav-link {
  padding: 1em 1em !important;
}
.navbar {
  margin-bottom: 25px !important;
}
.card-margin {
  padding-top: 1.25rem;
}
.white-text {
  color: #fff !important;
}
small {
  font-size: 50% !important;
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#footer {
  padding: 0.75rem 1.25rem !important;
}
.btn-outline {
  background-color: #fff !important;
}
#login-form-link.active > h3, #register-form-link.active > h3 {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
  font-size: 20px !important;
  color: #ffff00 !important;
  border-bottom: 2px groove #fff;
  font-weight: bold !important;
}
#login-form-link > h3, #register-form-link > h3 {
  color: #fff;
  font-size: 16px !important;
  padding-top: 10px;
  padding-bottom: 10px;
}
#register-form, #login-form {
  display: none !important;
}
#register-form.active, #login-form.active {
  display: block !important;
}
.btn-rounded {
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    -ms-border-radius: 10em;
    -o-border-radius: 10em;
    border-radius: 10em !important;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
.cssanimations .cd-timeline-img.is-hidden {
  visibility: hidden;
}
.cssanimations .cd-timeline-img.bounce-in {
  visibility: visible;
  animation: cd-bounce-1 0.6s;
}

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}
